#header {
    background-color: rgb(244, 215, 179);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive;
    text-transform: uppercase;
}

#nameAndTitle {
    width: 500px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1, h2 {
    margin: 0;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
}

#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 1.25em;
}

#contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact img {
    width: 1.875em;
}

.icon {
    width: 0.75em;
    height: 0.75em;
}